   <div class="wrapRegistrPage">
   <div class="header ">
       <div class="nav">
           <a href="/">на главную</a>
       </div>
   </div> 
    <div class="mainContainer">
    <div class="textReg">Регистрация нового пользователя</div>
    <div class="formReg">
       <form class="formLogin" action="/user/newUser" method="POST">
        <input class="formInput" type="text" name="username" placeholder="Введите логин">
        <input class="formInput" type="password" name="password" placeholder="Введите пароль">
        <input id="btnForm" type="submit" value="Зарегистрироваться">
        </form>
    </div>
    </div>
    <div class="footer"></div>   
   </div>
   
   
  

