<div class="wrap">
    <div class="wrapFormLogin">
    <form class="formLogin" action="/login" method="post">
        <input class="formInput" type="text" name="username" placeholder="Введите логин">
        <input class="formInput" type="text" name="password" placeholder="Введите пароль">
        <input type="submit" id="btnForm" value="Войти">
    </form>
    <div class="linkReg">
        <a href="/reg">Зарегистрироваться</a>
    </div>
    </div>
</div>